.box-reviews {
    background-color: #fff;
    padding-top: 10px;
}

.reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.review {
    background-color: #6D5383;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.review-text {
    padding: 20px;
}

.review h3 {
    font-family: sans-serif;
    color: #fff;
}

.review p {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}