.banner {
    background-image: url(../images/spy-show-fon.jpg);
}

.box-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.box-info img {
    margin: 0 auto;
    border-radius: 15px;
}

.text-block {
    width: 1000px;
    border: 2px solid #6D5383;    
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    font-size: 30px;
    font-family: sans-serif;
    color: #6D5383;
    margin: auto auto;
    text-align: center;
}

.text-block-wait-you {
    width: 550px;
    border: 2px solid #6D5383;    
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    font-size: 30px;
    font-family: sans-serif;
    color: #6D5383;
    margin: auto auto;

}

.box-galery-spy {
    background-color: #000;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

#slider {
    border-color: #000;
    width: 600px;
    height: 600px;
}

#slider-wrap {
    width: 600px;
}

@media screen and (max-width: 650px) {
    .text-block {
        margin-top: 20px;
    }
} 